*{
    margin:0;
    padding:0;
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing:border-box;
}
button {
    cursor: pointer;
}
header{
    height:100px;
    background-color: white;
    color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px; 
}
.nav-logo {
    align-items: center;
    display: flex;
}
.logo-image{  
    height:50px;
    width: 100px;      
}
.navbar-container{
    display: inline-flex;
    width: 100%;   
}
.nav-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left p{
    color: black;
    text-decoration: none;
    font-size: 14px;    
    font-weight: bold;
    padding: 20px;   
    display: inline-flex;
    cursor: pointer;
}
.nav-left p:hover {
    color: #006342;
}
.location{
    display: flex;
    padding: 20px;
    align-items: center;
}
.location-text {
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.location:hover {
    color: #006342;
}
.nav-right {
    display: flex;
}
.nav-buttons{
    padding: 20px;
}
.nav-buttons button {
    font-weight: bold;
    height: 32px;
    border-radius: 50px;
    padding: 7px 16px;
    border-width: 1px;
    border-style: solid;
}
button.sign-in {
    background-color: white;
    color: #000;
    border-color: #000;
}
button.sign-in:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
button.join-now {
    color: white;
    background-color: #000;
    border-color: #fff;
    margin-left: 15px;
}
button.join-now:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.start-order-container {
    height: 110px;
    background-color: rgb(50, 70, 47);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;font-size: 19px;
}
.start-order-container p {
    margin-top: 15px;
    font-weight: 600;
}
button.start-order {
    background-color: rgb(50, 70, 47);
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 42px;
    font-size: 19px;
    font-weight: 300;
    padding: 2px 12px;
    margin: 15px 0px 0px 15px;
}
button.start-order:hover {
    background-color: rgb(0, 117, 74);
}
.hero-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}
.hero-image {
    width: 100%;
}
.hero-image img {
    width: 100%;
    height: 100%;
}
.hero-text-1,.hero-text-3, .hero-text-6 {
    background-color: #006342;
    color: white;
}
.hero-text-2, .hero-text-5{
    background-color: #f5f1eb;
    color:#006342 ;
}
.hero-text-4 {
    background-color: #d1d1aa;
    color:#32462f;
}
.hero-text {
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;
    text-align: center;
    width: 100%; 
    padding: 32px 105px;   
}
.hero-text h1 {
    font-size: 24px;
    margin-bottom: 30px;
}
.hero-text p {
    font-size: 19px;
    line-height: 35px;
    margin-bottom: 30px;
    
}
@media (min-width: 768px) {
    .hero-item{
        flex-direction: row;
    }

    .hero-image,
    .hero-text {
        width: 50%;
    }
}

.hero-button {
    border-radius: 50px;
    height: 42px;
    font-size: 16px;
    font-weight: 300;
    padding: 2px 12px;
    margin: 15px 0px 0px 15px;
}
.hero-text-1 button,.hero-text-2 button,.hero-text-5 button {
    background-color: #f5f1eb;
    color: #006342;    
    border-color: #006342;    
}
.hero-text-1 button:hover, .hero-text-2 button:hover, .hero-text-5 button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #006342;       
}
.hero-text-3 button,.hero-text-4 button,.hero-text-6 button {
    background-color: #006342;
    color: #f5f1eb;    
    border-color: #f5f1eb;    
}
.hero-text-3 button:hover,.hero-text-4 button:hover,.hero-text-6 button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.hero-text-5 h1,.hero-text-6 h1 {
    font-size: 20px;
}
.hero-text-5 p, .hero-text-6 p{
    font-size:15px ;
}
.hero-text-7 {
    display: flex;
    justify-content: center;     
    align-items: center;
    text-align: center;
    font-size: 14px;    
}
.hero-text-7 p {
    width: 60%;
    line-height: 30px;
    padding: 30px 0px;
}
.hero-section {
    border-bottom: 1px solid rgb(128, 128, 128);
}
hr {
    color: rgb(128, 128, 128);
    margin: 0px 40px;
}
.foot-panel-1 {
    display: flex;    
    justify-content: space-evenly;
    margin-top: 20px;
}
.foot-panel-1 a {
    color: grey;
    text-decoration: none; 
    padding:15px 0px;  
    max-width: 170px; 
}
.foot-panel-1 a:hover {
    color: black;
    
}
.foot-panel-1 ul {
    display: flex;   
    flex-direction: column;
    
}
.foot-panel-1 p {
    font-size: 20px;
}
.foot-panel-2 {
    padding: 0px 40px;
}
.foot-panel-2 a {
    color: black;
    text-decoration: none;
    padding:15px 0px;
}
.foot-panel-2 a:hover {
    text-decoration: underline;
}
.foot-panel-2 ul {
    display: flex;
    flex-direction: column;
}
.foot-panel-2 .icons {
    font-size: 30px;
    margin-top: 20px;
}
.foot-panel-2 p{
    padding: 16px 0px;
    font-size: 14px;
    color: grey;
}
